/* ***************************************************************
/* Parts selection/display handling */

.selectable {
    display: none;
}

.selectable.active {
    display: initial;
}

/* *****************************************************

/***
 * SVG style
 * This belongs inside the boy/girl SVG and was only moved here for ease of handling.
 * (VS Code doesn't properly recognize style tags within the SVGs and don't switch to CSS mode in them.)
 */


/* ******************************* */
/* *********  Skin Tones ********* */
/* ******************************* */

.skin-tone {
    fill: #ffdecc;
}

.skin-shadow {
    fill: #f7c5aa;
}

g[data-skin='mid'] .skin-tone {
    fill: #f0b98b;
}

g[data-skin='mid'] .skin-shadow {
    fill: #cc9568;
}

g[data-skin='dark'] .skin-tone {
    fill: #e6a875;
}

g[data-skin='dark'] .skin-shadow {
    fill: #b88053;
}

/* ******************************* */
/* *********  Lip Colors ********* */
/* ******************************* */

/* Mouth boys */

.mouth-color {
    fill: #f7c5aa;
}

.mouth-color-dark {
    fill: #b88053;
}

.teeth {
    fill: #fff;
}

/* Lips girls */

.lip-color {
    fill: #ff386a;
}

.lip-shadow {
    fill: #c9204a;
}

.teeth {
    fill: #fff;
}

/* ******************************* */
/* ********* Hair Colors ********* */
/* ******************************* */

.hair-color {
    fill: #802d04;
}

g[data-hair='red'] .hair-color {
    fill: #bd1f0a;
}

g[data-hair='ginger'] .hair-color {
    fill: #ff690f;
}

g[data-hair='blonde'] .hair-color {
    fill: #ffc65d;
}

g[data-hair='lightbrown'] .hair-color {
    fill: #cc7c54;
}

g[data-hair='brown'] .hair-color {
    fill: #802d04;
}

g[data-hair='darkbrown'] .hair-color {
    fill: #4d1b02;
}

/* ********************************* */
/* ***** Shirt and Dress Colors **** */
/* ********************************* */

/* default colors */

.shirt-color {
    /* 3 */
    fill: #b34d1f;
}
.shirt-shadow{
    fill: #7a2c07;
}
.shirt-deko {
    fill: #913e17;
}

/* --------------------------------------------------- */
/* Green */

g[data-shirt='green'] .shirt-color {
    fill: #68c497;
}

g[data-shirt='green'] .shirt-shadow {
    fill: #3c8a64;
}

g[data-shirt='green'] .shirt-deko {
    fill: #77d1a5;
}

/* --------------------------------------------------- */
/* Blue */

g[data-shirt='blue'] .shirt-color {
    fill: #86bceb;
}


g[data-shirt='blue'] .shirt-deko {
    fill: #b6dbfc;
}
g[data-shirt='blue'] .shirt-shadow {
    fill: #497194;
}

/* --------------------------------------------------- */
/* Deep blue */

g[data-shirt='deepblue'] .shirt-color {
    fill: #497194;
}

g[data-shirt='deepblue'] .shirt-shadow {
    fill: #304d66;
}

g[data-shirt='deepblue'] .shirt-deko {
    fill: #86bceb;
}


/* --------------------------------------------------- */
/* Light blue */


g[data-shirt='lightblue'] .shirt-color {
    fill: #b6dbfc;
}

g[data-shirt='lightblue'] .shirt-shadow {
    fill: #304d66;
}

g[data-shirt='lightblue'] .shirt-deko {
    fill: #86bceb;
}

/* --------------------------------------------------- */
/* Pink */

g[data-shirt='pink'] .shirt-color {
    fill: #ff386a;
}

g[data-shirt='pink'] .shirt-shadow {
    fill: #c21842;
}

g[data-shirt='pink'] .shirt-deko {
    fill: #ffa8be;
}

/* --------------------------------------------------- */
/* Light pink */

g[data-shirt='lightpink'] .shirt-color {
    fill: #ffa8be;
}

g[data-shirt='lightpink'] .shirt-deko {
    fill: #ff386a;
}

g[data-shirt='lightpink'] .shirt-shadow{
    fill: #c21842;
}

/* --------------------------------------------------- */
/* Yellow */

g[data-shirt='yellow'] .shirt-color {
    fill: #ffd16e;
}

g[data-shirt='yellow'] .shirt-shadow {
    /* fill: #8d5f0a; */
    /* fill: #b34d1f; */
    fill: #bb6736;
}

g[data-shirt='yellow'] .shirt-deko {
    fill: #ba8d3a;
}

/* --------------------------------------------------- */
/* Orange */

g[data-shirt='orange'] .shirt-color {
    fill: #ff690f;
}

g[data-shirt='orange'] .shirt-shadow{
    fill: #853808;
}

g[data-shirt='orange'] .shirt-deko {
    fill: #ba4f0d;
}

/* --------------------------------------------------- */
/* Darkred */

g[data-shirt='darkred'] .shirt-color {
    fill: #c76452;
}

g[data-shirt='darkred'] .shirt-shadow {
    fill: #9d3421;
}

g[data-shirt='darkred'] .shirt-deko {
    fill: #c34a34;
}

/* --------------------------------------------------- */
/* Dark Brown */

g[data-shirt='brown'] .shirt-color {
    /* fill: #4d1b02; */
    fill: #b34d1f;
}

g[data-shirt='brown'] .shirt-shadow{
    fill: #7a2c07;
}

g[data-shirt='brown'] .shirt-deko {
    fill: #913e17;
}


/* --------------------------------------------------- */
/* OTHER DEKOS */

.hem {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 22.93;
    stroke-width: 1.2px;
    stroke-dasharray: 2.4 3.6;
}

.polkadots, .lace {
    fill: #fff;
}

/* TODO */
.offwhite-shirt {
    fill: #e6e6e6;
}

.white-shirt {

    fill: #fff;
}

.collar {
    fill: #fff;
}

.tie {
    fill: #9d3421;
}

g[data-shirt='lightblue'] .tie {
    fill: #fff;
}

g[data-shirt='yellow'] .tie {
    fill: #ff386a;
}
g[data-shirt='pink'] .tie {
    fill: #fff;
}

g[data-shirt='deepblue'] .tie {
    fill: #9d3421;
}

.marks {
    fill: #fff;
}

/* --------------------------------------------------- */
/* Accessories */

.glasses-boy {
    fill: #27557d;
}

.glasses-girl {
    fill: #ff690f;
}

.jewelry-hair {
    fill: #86bceb;
}

.pearls {
    fill: #fff;
}

.hat-light {
    fill: #b6dbfc;
}

.hat-scarf-color {
    fill: #86bceb;
}

.scarf-shadow {
    fill: #345e82;
}
